.theme-default-content pre,
.theme-default-content pre[class*="language-"]
  max-height: 350px

div[class*="language-"]::before
  right: 2em

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "PingFang SC", "Microsoft Yahei", monospace

.nova-dropdown
  z-index: 1

.nova-alert-block
  margin-bottom: 10px
