div[class*="language-"]
  max-height: 350px
  overflow: auto
  margin: 0.85rem 0

.theme-default-content pre,
.theme-default-content pre[class*="language-"]
  margin: 0

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "PingFang SC", "Microsoft Yahei", monospace

.nova-ui-dropdown
  z-index: 1

.nova-ui-alert-block
  margin-bottom: 10px
