@import '../../../styles/var';

@alert: ~'@{prefix}-alert';

.@{alert}-icon {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.@{alert}-icon-success,
.@{alert}-icon-warning,
.@{alert}-icon-error,
.@{alert}-icon-info,
.@{alert}-icon-help {
  width: 16px;
  height: 16px;
}

.@{alert}-icon-success {
  color: @success-color;
}

.@{alert}-icon-warning {
  color: @warning-color;
}

.@{alert}-icon-error {
  color: @error-color;
}

.@{alert}-icon-info {
  color: @info-color;
}

.@{alert}-icon-help {
  color: @help-color;
}
