@import '../../../styles/var';

@select: ~'@{prefix}-select';

.@{select}-option {
  cursor: pointer;
  padding: 5px 10px;
  word-break: break-all;
  color: @font-color;

  &:hover:not(.is-disabled) {
    color: #ee3388;
    background-color: #fef2f9;
  }

  &.is-selected {
    color: #ee3388;
  }

  &.is-disabled {
    opacity: 0.5;
    cursor: default;
  }
}
