@prefixed: nova;

@font-family: 'Helvetica Neue', 'Arial', 'PingFang SC', 'Microsoft Yahei',
  'SimSun', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

@placeholder-color: #bbb;

@fast-motion: 100ms;
@normal-motion: 200ms;
@slow-motion: 300ms;

@ease-in-quintic: cubic-bezier(0.76, 0.05, 0.86, 0.06);
@ease-in-backward: cubic-bezier(0.6, -0.28, 0.74, 0.05);

@ease-out-quintic: cubic-bezier(0.23, 1, 0.32, 1);
@ease-out-backward: cubic-bezier(0.18, 0.89, 0.32, 1.28);

@ease-in-out-circular: cubic-bezier(0.79, 0.14, 0.15, 0.86);

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
