@import '../../../styles/var';

.@{prefix}-dropdown {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  background-color: @component-background;
  color: @font-color;
  font-family: @font-family;
  box-shadow: @dropdown-shadow-light;
}

.@{prefix}-select-dropdown {
  max-height: 300px;
  overflow: auto;
}
